@{
    ViewData["Title"] = "Successfully Registred";
}

<div class="inscription-success">
    <img src="~/images/success.png" width="100px" height="100px"/>
    <h1>You Are Successfully Registred !</h1>
    <h2>What Should I Do Now ?</h2>
    <p>Our team will process your response and we will get in touch with you in the few coming days, please check your email regularly !</p>
</div>