@{
    ViewData["Title"] = "Home Page";
}

<div class="main-content">
    <h1>Welcome To WeCount Recruitment Platform</h1>
    <p>
        Wecount is currently recruiting new IT members to join their team. This is a great opportunity for individuals with a background in IT to work with a reputable company and contribute to their success. The IT team at Wecount is responsible for maintaining and improving the company's technology systems, as well as troubleshooting and resolving any technical issues that may arise. If you have the skills and experience in IT and are interested in joining a dynamic and growing team, consider applying for a role at Wecount. This could be a fulfilling and rewarding opportunity to advance your career in the tech industry.
    </p>
    <a asp-controller="Candidates" asp-action="Inscription">Join Now</a>
</div>
